* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  background-color: rgb(238, 235, 235);
  overflow-x: hidden;
}

/* Navbar section starts here */
.fpicon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 35px;
  display: none;
  transition: all 0.5s;
}
#mainBlock > article > aside.right_side_bar aside.audio_gridData figure {
  background-color: #141414;
  border-radius: 5px;
  overflow: hidden;
}
#mainBlock
  > article
  > aside.right_side_bar
  aside.audio_gridData
  figure:hover
  i {
  display: block;
}
#mainBlock
  > article
  > aside.right_side_bar
  aside.audio_gridData
  figure:hover
  img {
  opacity: 0.2;
}

#navbarBlock {
  position: fixed;
  top: 0;
  z-index: 1111111111;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 235, 235);
}

#navbarBlock > article {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 3%;
  border: 1px solid #cac9c9;
}

#navbarBlock > article > .logoBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-basis: 33%;
}
#navbarBlock > article > .logoBlock > .logo img {
  padding: 5px;
  width: 50px;
  height: 50px;
}

#navbarBlock > article > .logoBlock > .logo span {
  color: #141414;
  font-weight: bolder;
  font-size: 18px;
}

#navbarBlock > article > .logoBlock > .logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#navbarBlock > article > .logoBlock ul.menu_list {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

#navbarBlock > article > .logoBlock ul.menu_list li a {
  text-decoration: none;
  padding: 18px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: bold;
}

/* li.nav_link:hover ::after {
  content: "";
  width: 58px;
  display: inline-block;
  border-top: 3px solid #3e3e3e;
  position: absolute;
  left: 46%;
  bottom: -160%;
  transform: translate(-50%, -6%);
} */

#navbarBlock > article > .searchBlock {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbarBlock > article > .searchBlock > div.search_icon {
  position: absolute;
  left: 39%;
}

#navbarBlock > article > .searchBlock > input {
  width: 100%;
  height: 6vh;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
}

#navbarBlock > article > .searchBlock > input::placeholder {
  text-align: center;
}

#navbarBlock > article > .authBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 25%;
  gap: 3%;
  margin: 0 20px;
}

#navbarBlock > article > .authBlock > .dropDown{
  width:180px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#navbarBlock > article > .authBlock > ul{
  width:180px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: bold;
}
.arrow{
  cursor: pointer;
}
#up{
  visibility: hidden;
  
}

#navbarBlock > article > .authBlock :is(div.login a, div.signup a) {
  text-decoration: none;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 14px;
}

/* Navbar section ends here */

/* Main section starts here */

#mainBlock {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
}

#mainBlock > article {
  width: 95%;
  margin: 35px 0;
  display: flex;
}

#mainBlock > article > aside.left_side_bar {
  flex-basis: 15%;
  padding-top: 55px;
}

#mainBlock > article > aside.left_side_bar h3 {
  color: #828da8;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.8333333333;
  text-transform: uppercase;
  padding: 10px 0;
}

#mainBlock > article > aside.left_side_bar ul {
  margin-bottom: 25px;
}

#mainBlock > article > aside.left_side_bar ul li {
  list-style: none;
  padding: 8px 0;
}

#mainBlock > article > aside.left_side_bar ul li span {
  padding: 15px;
}

#mainBlock > article > aside.left_side_bar ul li i {
  font-size: 18px;
}

#mainBlock > article > aside.left_side_bar ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.46;
  color: #3e3e3e;
}

#mainBlock > article > aside.left_side_bar a.playlist {
  margin-top: 120px;
  text-decoration: none;
  border: 1px solid #2bc5b4;
  font-size: 15px;
  line-height: 1.4;
  padding: 12px 22px;
  border-radius: 25px;
  color: #2bc5b4;
  font-weight: bold;
  transition: all 0.5s;
}

#mainBlock > article > aside.left_side_bar a.playlist i {
  padding: 5px;
  font-size: 20px;
}

#mainBlock > article > aside.left_side_bar a.playlist:hover {
  color: #4e5a58;
}

#mainBlock > article > aside.right_side_bar {
  flex-basis: 85%;
  padding-top: 60px;
  padding-bottom: 100px;
}

#mainBlock > article > aside.right_side_bar h1 {
  font-size: 18px;
  line-height: 1.375;
  font-weight: 700;
  padding-top: 10px;
  color: #3e3e3e;
}

#mainBlock > article > aside.right_side_bar > .audio_content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(200px auto);
  gap: 2%;
}

.filteredAudio img {
  width: 100%;
  height: 100%;
}
#mainBlock > article > aside.right_side_bar aside.audio_gridData figure {
  position: relative;
}
#mainBlock > article > aside.right_side_bar aside.audio_gridData figure img {
  width: 100%;
  height: 100%;
}

#mainBlock
  > article
  > aside.right_side_bar
  aside.audio_gridData
  :is(.albumDetails, .artistDetails) {
  text-align: center;
  color: #3e3e3e;
  text-transform: capitalize;
  padding: 2px;
  font-weight: bold;
}

#mainBlock > article > aside.right_side_bar aside.audio_gridData .albumDetails {
  font-size: 14px;
}

#mainBlock
  > article
  > aside.right_side_bar
  aside.audio_gridData
  .artistDetails {
  font-size: 12px;
}


/* dropDown list */
.dropdownList{
  position: absolute;
  top: 10%;
  right:180px;
  width:300px;
  height:450px;
  background-color:white;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  gap:10px;
  border-radius: 20px;
  z-index: 11111;
  padding: 20px 0;
}
.dropdownList > header > p{
  width:280px;
  border-bottom: 1px solid gray;
  color:#4e5a58;
  font-size: small;
  padding: 10px;
  text-align: center;
}

.data-container{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#bhasa{
  width:250px;
  height:250px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  list-style:none;
  cursor: pointer;
  margin-top:20px;
}

#bhasa > li:hover{
  color:#2bc5b4;
  font-weight: bolder;

}
#upgrade{
  width:260px;
  padding:10px;
  border-radius: 20px;
  color: white;
  background-color: #2bc5b4;
  font-weight: 900;

  border: none;
}
#lang{
  font-size: 10px;
}

#mainBlock > article > aside.right_side_bar h1{
  font-size: 18px;
  line-height: 1.375;
  font-weight: 700;
  padding-top: 10px;
  color: #3e3e3e;
}

/* Search*/
.data-container img{
  width: 100%;
 height: 100%;
 border-radius: 12px;
}
/* Main section ends here */

/* footer section starts here */

#footer_block {
  width: 100%;
  height: 15vh;
  box-shadow: 2px 2px 2px 2px grey;
  position: fixed;
  background-color: #fff;
}

#footer_block > article {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

#footer_block > article > aside.song_image {
  display: flex;
  align-items: center;
  gap: 3%;
  flex-basis: 30%;
  line-height: 1.5;
  padding: 0 15px;
}

#footer_block > article > aside.song_image img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#footer_block > article > aside.song_image h1 {
  font-size: 16px;
  color: #3e3e3e;
}
.ap,
.arp {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-top: 5px;
  text-transform: capitalize;
}

#footer_block > article > aside.song_image p {
  font-size: 12px;
}

#footer_block > article > aside.song_controls {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_block > article aside.song_controls ul.controls {
  list-style: none;
  display: flex;
  gap: 25%;
  font-size: 30px;
  color: #3e3e3e;
  font-weight: 500;
}

#footer_block
  > article
  > aside.song_controls
  ul.controls
  :is(li:first-child, li:last-child) {
  color: #9b9898;
}

#footer_block > article > aside.song_duration {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}

#footer_block > article > aside.song_duration ul.duration {
  list-style: none;
  display: flex;
  gap: 30%;
  font-size: 25px;
  color: #3e3e3e;
  font-weight: 500;
}

.timer {
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* footer section ends here */

/*    <!-- Model css code start --> */

#model_section {
  position: fixed;
  right: 0;
  background-color: rgb(238, 235, 235);
  z-index: 1111111111111;
  top: 10vh;
  right: 0;
  width: 83.5%;
  display: grid;
  place-content: center;
  height: 78.6vh;
  padding-top: 100px;
  display: none;
}
#model_section > main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 85%;
  margin: 0px auto;
  padding: 13px 20px;
}
#model_section > main:hover {
  background-color: white;
  border: 1px solid rgb(235, 228, 228);
}
#model_section > main > .main_model_div1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  text-transform: capitalize;
  flex-basis: 33.33%;
}
#model_section > main > .main_model_div1 p {
  color: #2bc5b4;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 14px;
}
#model_section > main:hover > .main_model_div1 p.har {
  color: gray;
  width: 95%;
}
#model_section > main > .main_model_div1 .p11 {
  color: gray;
  font-size: 16px;
  width: 5%;
}
#model_section > main > .main_model_div2 {
  text-transform: capitalize;
}
#model_section > main > .main_model_div3 {
  display: flex;
  gap: 30px;
  text-transform: capitalize;
}
#model_section > main > .main_model_div3 a {
  text-decoration: none;
  font-size: 17px;
  color: gray;
  transition: all 0.5s;
}
#model_section > main > .main_model_div3 a:hover {
  color: red;
}
#model_section article {
  width: 85%;
  margin: 0px auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
#model_section article .model_img_aside {
  flex-basis: 25%;
  height: 250px;
}
#model_section article .model_img_aside figure {
  width: 100%;
  height: 100%;
}
#model_section article .model_img_aside figure img {
  width: 100%;
  height: 100%;
}
#model_section article .containt_aside {
  flex-basis: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
}
#model_section article .containt_aside .containt_div1 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
#model_section article .containt_aside .containt_div1 h1 {
  font-size: 35px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: rgb(33, 32, 32);
}
#model_section article .containt_aside .containt_div1 p {
  font-size: 17px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
#model_section article .containt_aside .containt_div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#model_section article .containt_aside .containt_div2 button {
  background-color: #2bc5b4;
  border-color: #2bc5b4;
  border: 1px solid;
  height: auto;
  padding: 12px 44px;
  width: auto;
  border-radius: 24px;
  color: white;
  text-transform: capitalize;
  font-size: 21px;
  transition: all 0.5s;
}
#model_section article .containt_aside .containt_div2 button:hover {
  background-color: #0e8173;
  border-color: #0e8173;
}
#model_section article .containt_aside .containt_div2 a {
  font-size: 23px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: gray;
  text-decoration: none;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 100%;
}
#model_section article .containt_aside .containt_div2 > div {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: gray;
  text-decoration: none;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 100%;
  transition: all 0.5s;
}
#model_section article .containt_aside .containt_div2 > div:hover {
  border: 1px solid black;
}
#model_section article .containt_aside .containt_div2 > div span {
  font-size: 23px;
}
#model_section article .containt_aside .containt_div2 > div p {
  font-size: 18px;
}
#model_section article .containt_aside .containt_div2 a:hover {
  border: 1px solid black;
}

/*    <!-- Model html code start --> */

#head-pain {
  width: 100%;
  position: fixed;
  top: 75.5vh;
  z-index: 111111;
}
#audio_main_section {
  width: 100%;
  /* display: flex; */
  height: 80px;
  box-shadow: 0px 0px 2px gray;
  background-color: rgba(220, 228, 234, 0.5);
  margin-bottom: 100px;
  background-color: rgb(238, 235, 235);
}
#audio_main_section article {
  display: flex;
  width: 100%;
  margin: 0px auto;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 30px 23px;
}
#audio_main_section article .main_img_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
#audio_main_section article .main_img_details div:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}
#audio_main_section article .main_img_details div:nth-child(1) figure {
  width: 100%;
  height: 100%;
}
#audio_main_section article .main_img_details div:nth-child(1) figure img {
  width: 100%;
  height: 100%;
}
#audio_main_section article .main_img_details div:nth-child(2) {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
#audio_main_section article .main_img_details div:nth-child(2) h1 {
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}
#audio_main_section article .main_img_details div:nth-child(2) p {
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: capitalize;
}
.no_span,
.fp_span {
  display: none;
}
#audio_main_section article .main_operator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
#audio_main_section article .main_operator i {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.756);
  cursor: pointer;
}
#audio_main_section article .audio_volume {
  display: flex;
  width: 20%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#audio_main_section article .audio_volume p {
  letter-spacing: 0.5px;
  font-size: 17px;
  text-transform: capitalize;
}
#audio_main_section article .audio_volume i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.756);
  cursor: pointer;
}
.audio_track_line {
  position: relative;
  background-color: rgb(238, 235, 235);
  width: 100%;
  height: 4px;
  margin-top: 100px;
}
.audio_track_line .tracker_div {
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  height: inherit;
  width: 0%;
  border: 1px solid blue;
}

/*     <!--Audio footer css start  --> */
